<div  
	mb-preloading="ctrl.loading"
	layout="column"
	flex>
<!-- TODO: add	ng-init="ctrl.setDataQuery('{id, title, name, description, mime_type, media_type}')" -->
	<mb-pagination-bar
		mb-model="ctrl.queryParameter"
		mb-reload="ctrl.reload()"
		mb-sort-keys="ctrl.getSortKeys()"
		mb-more-actions="ctrl.getActions()">
	</mb-pagination-bar>
	<md-content
		mb-infinate-scroll="ctrl.loadNextPage()"
		layout="column"
		flex>
	    <!-- Group info -->
	    <md-list 
	        ng-if="ctrl.items.length > 0"
	        flex>
	        <md-list-item 
	            ng-repeat="spa in ctrl.items"
	            class="md-3-line" 
	            ng-href="spas/{{spa.id}}">
	            <img 
	                ng-src="/{{spa.name}}/images/logo.svg" 
	                class="md-avatar"/>
	            <div 
	                class="md-list-item-text" 
	                layout="column">
	                <h3>{{spa.title}}</h3>
	                <h4>{{spa.name}}-{{spa.version}}</h4>
	                <p>{{spa.description}}</p>
	            </div>
	        </md-list-item>
	    </md-list>
	    <div
	        layout="column"
	        ng-if="ctrl.state != 'busy' && ctrl.items.length === 0">
	        <h3 style="text-align: center" translate>Item not found</h3>
	        <div
	            layout="row"
	            layout-align="center center">
	            <md-button
	                ng-href="spas/upload">
	                <wb-icon>add</wb-icon>
	                <span translate>Upload</span>
	            </md-button>
	            <md-button
	                ng-href="spas/repository">
	                <wb-icon>apps</wb-icon>
	                <span translate>Install from repository</span>
	            </md-button>
	        </div>
	    </div>
    </md-content>
</div>

